/* Google Font URL Here */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dn{
    display: none;
}
/* All Global Color Here */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #009EF7;
    --secondary: #6c757d;
    --light: #f2f3f8;
    --dark: #232734;
    --light-gray:#3a3f50;
    --border-light:#7c8191;
    --w-text:#cfd4e6;
    /* --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
}
/*bootstrap extend*/
.fw-100 {
    font-weight: 100 !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-900 {
    font-weight: 900 !important;
}

.fs-8 {
    font-size: 0.5rem !important;
}
.fs-9 {
    font-size: 0.5625rem !important;
}
.fs-10 {
    font-size: 0.625rem !important;
}
.fs-11 {
    font-size: 0.6875rem !important;
}
.fs-12 {
    font-size: 0.75rem !important;
}
.fs-13 {
    font-size: 0.8125rem !important;
}
.fs-14 {
    font-size: 0.875rem !important;
}
.fs-15 {
    font-size: 0.9375rem !important;
}
.fs-15 {
    font-size: 0.9375rem !important;
}
.fs-16 {
    font-size: 1rem !important;
}
.fs-17 {
    font-size: 1.0625rem !important;
}
.fs-18 {
    font-size: 1.125rem !important;
}
.fs-19 {
    font-size: 1.1875rem !important;
}
.fs-20 {
    font-size: 1.25rem !important;
}
.fs-21 {
    font-size: 1.3125rem !important;
}
.fs-22 {
    font-size: 1.375rem !important;
}
.fs-23 {
    font-size: 1.4375rem !important;
}
.fs-24 {
    font-size: 1.5rem !important;
}
.fs-26 {
    font-size: 1.625rem !important;
}
.fs-28 {
    font-size: 1.75rem !important;
}
.fs-30 {
    font-size: 1.875rem !important;
}
.fs-36 {
    font-size: 2.25rem !important;
}

.lh-1 {
    line-height: 1 !important;
}
.lh-1-1 {
    line-height: 1.1 !important;
}
.lh-1-2 {
    line-height: 1.2 !important;
}
.lh-1-3 {
    line-height: 1.3 !important;
}
.lh-1-4 {
    line-height: 1.4 !important;
}
.lh-1-5 {
    line-height: 1.5 !important;
}
.lh-1-6 {
    line-height: 1.6 !important;
}
.lh-1-7 {
    line-height: 1.7 !important;
}
.lh-1-8 {
    line-height: 1.8 !important;
}
.lh-1-9 {
    line-height: 1.9 !important;
}
.lh-2 {
    line-height: 2 !important;
}

/* Widht Heght Deafult CSS */
.w-14{
    width: 14% !important;
}
.w-25 {
    width: 25%!important
}

.w-50 {
    width: 50%!important
}

.w-75 {
    width: 75%!important
}

.w-100 {
    width: 100%!important
}

.w-auto {
    width: auto!important
}

.h-25 {
    height: 25%!important
}

.h-50 {
    height: 50%!important
}

.h-75 {
    height: 75%!important
}

.h-100 {
    height: 100%!important
}

.h-auto {
    height: auto!important
}

.mw-100 {
    max-width: 100%!important
}

.mh-100 {
    max-height: 100%!important
}

.min-vw-100 {
    min-width: 100vw!important
}

.min-vh-100 {
    min-height: 100vh!important
}

.vw-100 {
    width: 100vw!important
}

.vh-100 {
    height: 100vh!important
}

/*Margin Padding CSS  */
.m-0 {
    margin: 0!important
}

.mt-0,.my-0 {
    margin-top: 0!important
}

.mr-0,.mx-0 {
    margin-right: 0!important
}

.mb-0,.my-0 {
    margin-bottom: 0!important
}

.ml-0,.mx-0 {
    margin-left: 0!important
}

.m-1 {
    margin: .25rem!important
}

.mt-1,.my-1 {
    margin-top: .25rem!important
}

.mr-1,.mx-1 {
    margin-right: .25rem!important
}

.mb-1,.my-1 {
    margin-bottom: .25rem!important
}

.ml-1,.mx-1 {
    margin-left: .25rem!important
}

.m-2 {
    margin: .5rem!important
}

.mt-2,.my-2 {
    margin-top: .5rem!important
}

.mr-2,.mx-2 {
    margin-right: .5rem!important
}

.mb-2,.my-2 {
    margin-bottom: .5rem!important
}

.ml-2,.mx-2 {
    margin-left: .5rem!important
}

.m-3 {
    margin: 1rem!important
}

.mt-3,.my-3 {
    margin-top: 1rem!important
}

.mr-3,.mx-3 {
    margin-right: 1rem!important
}

.mb-3,.my-3 {
    margin-bottom: 1rem!important
}

.ml-3,.mx-3 {
    margin-left: 1rem!important
}

.m-4 {
    margin: 1.5rem!important
}

.mt-4,.my-4 {
    margin-top: 1.5rem!important
}

.mr-4,.mx-4 {
    margin-right: 1.5rem!important
}

.mb-4,.my-4 {
    margin-bottom: 1.5rem!important
}

.ml-4,.mx-4 {
    margin-left: 1.5rem!important
}

.m-5 {
    margin: 3rem!important
}

.mt-5,.my-5 {
    margin-top: 3rem!important
}

.mr-5,.mx-5 {
    margin-right: 3rem!important
}

.mb-5,.my-5 {
    margin-bottom: 3rem!important
}

.ml-5,.mx-5 {
    margin-left: 3rem!important
}

.p-0 {
    padding: 0!important
}

.pt-0,.py-0 {
    padding-top: 0!important
}

.pr-0,.px-0 {
    padding-right: 0!important
}

.pb-0,.py-0 {
    padding-bottom: 0!important
}

.pl-0,.px-0 {
    padding-left: 0!important
}

.p-1 {
    padding: .25rem!important
}

.pt-1,.py-1 {
    padding-top: .25rem!important
}

.pr-1,.px-1 {
    padding-right: .25rem!important
}

.pb-1,.py-1 {
    padding-bottom: .25rem!important
}

.pl-1,.px-1 {
    padding-left: .25rem!important
}

.p-2 {
    padding: .5rem!important
}

.pt-2,.py-2 {
    padding-top: .5rem!important
}

.pr-2,.px-2 {
    padding-right: .5rem!important
}

.pb-2,.py-2 {
    padding-bottom: .5rem!important
}

.pl-2,.px-2 {
    padding-left: .5rem!important
}

.p-3 {
    padding: 1rem!important
}

.pt-3,.py-3 {
    padding-top: 1rem!important
}

.pr-3,.px-3 {
    padding-right: 1rem!important
}

.pb-3,.py-3 {
    padding-bottom: 1rem!important
}

.pl-3,.px-3 {
    padding-left: 1rem!important
}

.p-4 {
    padding: 1.5rem!important
}

.pt-4,.py-4 {
    padding-top: 1.5rem!important
}

.pr-4,.px-4 {
    padding-right: 1.5rem!important
}

.pb-4,.py-4 {
    padding-bottom: 1.5rem!important
}

.pl-4,.px-4 {
    padding-left: 1.5rem!important
}

.p-5 {
    padding: 3rem!important
}

.pt-5,.py-5 {
    padding-top: 3rem!important
}

.pr-5,.px-5 {
    padding-right: 3rem!important
}

.pb-5,.py-5 {
    padding-bottom: 3rem!important
}

.pl-5,.px-5 {
    padding-left: 3rem!important
}

.m-n1 {
    margin: -.25rem!important
}

.mt-n1,.my-n1 {
    margin-top: -.25rem!important
}

.mr-n1,.mx-n1 {
    margin-right: -.25rem!important
}

.mb-n1,.my-n1 {
    margin-bottom: -.25rem!important
}

.ml-n1,.mx-n1 {
    margin-left: -.25rem!important
}

.m-n2 {
    margin: -.5rem!important
}

.mt-n2,.my-n2 {
    margin-top: -.5rem!important
}

.mr-n2,.mx-n2 {
    margin-right: -.5rem!important
}

.mb-n2,.my-n2 {
    margin-bottom: -.5rem!important
}

.ml-n2,.mx-n2 {
    margin-left: -.5rem!important
}

.m-n3 {
    margin: -1rem!important
}

.mt-n3,.my-n3 {
    margin-top: -1rem!important
}

.mr-n3,.mx-n3 {
    margin-right: -1rem!important
}

.mb-n3,.my-n3 {
    margin-bottom: -1rem!important
}

.ml-n3,.mx-n3 {
    margin-left: -1rem!important
}

.m-n4 {
    margin: -1.5rem!important
}

.mt-n4,.my-n4 {
    margin-top: -1.5rem!important
}

.mr-n4,.mx-n4 {
    margin-right: -1.5rem!important
}

.mb-n4,.my-n4 {
    margin-bottom: -1.5rem!important
}

.ml-n4,.mx-n4 {
    margin-left: -1.5rem!important
}

.m-n5 {
    margin: -3rem!important
}

.mt-n5,.my-n5 {
    margin-top: -3rem!important
}

.mr-n5,.mx-n5 {
    margin-right: -3rem!important
}

.mb-n5,.my-n5 {
    margin-bottom: -3rem!important
}

.ml-n5,.mx-n5 {
    margin-left: -3rem!important
}

.m-auto {
    margin: auto!important
}

.mt-auto,.my-auto {
    margin-top: auto!important
}

.mr-auto,.mx-auto {
    margin-right: auto!important
}

.mb-auto,.my-auto {
    margin-bottom: auto!important
}

.ml-auto,.mx-auto {
    margin-left: auto!important
}

.d-flex{
    display: flex;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    position: relative;
}
body, h1, h2, h3, h4, h5, h6 , span, a, button{
    font-family: "Public Sans", sans-serif;
  }


/* Sidebar CSS */

.side-bar{
    background:var(--dark);
    width:14%;
    top: 0;
    left: 0;
    position: fixed;
}
.sb-logo>a {
    display: block;
    padding: 17px 26px;
}
.sb-logo > a > img{
    min-height: 25px;
    width: 87%;
}
.sb-logo:hover{
    background:var(--light-gray);
    transition: ease .4s;
}

.sb-search-area{
    position: relative;
}

.sb-search-area > input[type="search"] {
    background: transparent;
    outline: none;
    border: 1px solid #3a3f50;
    border-radius: .5rem;
    width: 89%;
    padding: 0px 0px 0px 1rem;
    height: calc(1.5rem + 0.8rem + 2px);
    margin-left: 1rem;
    position: relative;
}
.sb-search-area > input[type="search"]:focus{
    border-color: var(--border-light);
    transition: ease-in-out .3s;
}
.sb-search-area > input{
    color:white;
}
.sb-search-area > img {
    width: 9%;
    position: absolute;
    right: 1.5rem;
    top: 0.6rem;
    transform: rotate(96deg);
}

/* nav iteams css */

.side-bar-nav-iteams ul li {
    list-style-type: none;
}

.side-bar-nav-iteams ul li a {
    display: block;
    color: var(--w-text);
    text-decoration: none;
    padding:.6rem 0rem;
}

.side-bar-nav-iteams ul li:hover > a{
    background:var(--light-gray);
    color: var(--light);
    transition: .3s ease;
}

.sb-n-i-elements{
    display: flex;
    align-items: center;
}
.sb-n-i-elements span{
    font-family: "Public Sans", sans-serif;
}

/* top bar css */
.top-bar {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    height: 60px;
    box-shadow: 0px 4px 43px whitesmoke;
}
.tb-left {
    width: 50%;
    display: flex;
}
.nav-icon-btn:hover .nav-icon-btn .svg-icon{
    fill:red;
}

/* top bar Menu */

.mobile-toggoler{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* icon css */
.cc, .bw, .pos{
    display: flex;
    align-items: center;
}
.left-nav-icon {
    display: flex;
}
.nav-iteams{
    display: flex;
}
.nav-icon-btn {
    display: block;
    text-align: center;
    background: var(--light);
    padding: 7px 9px 2px 9px;
    border-radius: 50px;
}
.nav-icon-btn:hover{
    background-color: var(--primary);
}
.top-bar-left-menu-wraper {
    display: flex;
}
.menu-iteams a {
    text-decoration: none;
    line-height: 2rem;
    color: var(--gray-dark);
    font-weight: 600;
    transition: ease .3s;
    font-size: 13px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-iteams a:hover{
    color: var(--primary);
}
.menu a:active:after{
    content:'';
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
}

.tb-left-btn-wrap {
    display: flex;
    align-items: center;
}
.tb-left-btn-wrap a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: var(--dark);
    font-weight: 600;
    background: #009ef73d;
    padding: 10px 20px;
    transition: ease .3s;
    /* border-radius: rem; */
}
.tb-left-btn-wrap a:hover{
    color: var(--light);
    background:var(--primary);
}
.tb-left-btn-wrap a img{
        height: 20px;
        margin-left: 5px;
        /* display: block; */
}